<h1 class="top">Burgers!</h1>


<div class="container">

  <div class="row">

    <div class="col-md-6 left">

      <h2 class="status">Uneaten Burgers</h2>

      {{#each burgers}} {{#unless devoured}}
      <div class="row">
        {{burger_name}}

        <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
          {{#if devoured}}UNEAT!{{else}}EAT!{{/if}}
        </button>

        <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
      </div>
      {{/unless}} {{/each}}

    </div>
    <div class="col-md-6 right">

      <h2 class="status">Eaten Burgers</h2>

        {{#each burgers}} {{#if devoured}}
        <div class="row">
          {{burger_name}}

          <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
            {{#if devoured}}UNEAT!{{else}}EAT!{{/if}}
          </button>

          <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
        </div>
         {{/if}} {{/each}}

    </div>
  </div>

  <div class="row top">

    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <div class="form-group">
        <label for="burger">Devoured or not?</label>
        <br>
        <input type="radio" name="burger" value="1" checked> Eaten
        <br>
        <input type="radio" name="burger" value="0"> Uneaten
      </div>

      <button type="submit">Add Burger</button>
    </form>

  </div>

</div>